

/*
MENU CONTAINER
*/

#menu-container
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

/*
MENU STUFF
*/

.menu
{
	margin: 0px;
	position: absolute;
	border: 2px solid #111;
	border-radius: 5px;
	background-color: #fafafa;
	font-family: sans-serif;
	padding-bottom: 1em;
}

.menu-hide
{
	display: none;
}


/*
MENU ITEM CONTAINER STUFF
*/

.menu-item-container, .description-menu-item-container
{
	float: left;
	margin: 0px;
	padding: 0px;
}

.menu-item-container
{
	margin-left: 5%;
	margin-right: 5%;
}

.item-container-FULL, .item-container-TOP, .item-container-BOTTOM
{
	width: 90%;
}

.item-container-RIGHT, .item-container-LEFT
{
	width: 40%;
}


/*
MENU ITEM STUFF
*/
.menu-item
{
	margin: .1em;
	padding: .5em;
	text-align: left;
}


.menu-item-selected
{
	border-radius: 3px;
	background-color: #ff8;
}




.menu-item-description-hidden
{
	display: none;
}


/*
MENU TITLE STUFF
*/
.menu-title
{
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-bottom: .5em;
	background-color: #111;
	color: #eee;
}


/*
DESCRIPTION CONTAINER STUFF
*/
.menu-item-description-container
{
	float: left;
	margin: 0px;
	padding: 2%;
	margin-right: 5%;
	margin-left: 5%;
	background-color: #eee;
	border: 1px solid black;
	border-radius: 3px;
}

.description-container-TOP, .description-container-BOTTOM
{
	width: 90%;
}

.description-container-TOP
{
	margin-bottom: 1em;
}

.description-container-LEFT, .description-container-RIGHT
{
	width: 34%;
}


























