

/*
MENU CONTAINER
*/

#menu-container
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

/*
MENU STUFF
*/

.menu
{
	position: absolute;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 10%;
	border: 2px solid gray;
	border-radius: 5px;
	padding: 1em;
	background-color: #fafafa;
	font-family: sans-serif;
}

.menu-lg
{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.menu-sm
{
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}


.menu-hide
{
	display: none;
}


/*
MENU ITEM STUFF
*/

.menu-item-container
{
	float: left;
	
}

.menu-item-description-container
{
	float: left;
	margin-left: 2em;
	width: auto;
	padding: 1em;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: #eee;
}


.menu-item
{
	margin: .1em;
	padding: .5em;
}


.menu-item-selected
{
	border-radius: 3px;
	background-color: #ff8;
}



.menu-item-description
{

}


.menu-item-description-hidden
{
	display: none;
}


/*
MENU TITLE STUFF
*/
.menu-title
{
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: .7em;
	border-bottom: 1px solid #aaa;
}







